    /* src/components/Equipment.css */
    .equipment {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .equipment img {
        width: 50px;
        margin-right: 10px;
    }
    .details {
        flex-grow: 1;
    }
    .equipment-name {
        font-size: 1.1em;
        margin-bottom: 5px;
    }
    .progress-container {
        background-color: #FFD700;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        height: 25px;
        width: 100%;
    }
    .progress {
        background-color: #32CD32;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
    }
