/* src/pages/Page3.css */
.app {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/images/couverture.png');
    background-size: 150%; /* Zoom de l'image à 150% */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 100%; /* Assure que le fond d'écran couvre toute la largeur */
    height: 100%; /* Assure que le fond d'écran couvre toute la hauteur */
}

.center-bottom {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px; /* Ajustez la hauteur selon vos besoins */
}

.center-bottom img {
    max-width: 700px;
    height: auto;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.equipment-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.equipment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #003366;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.equipment-item img {
    max-width: 200px;
    height: 150px; /* Garde le ratio hauteur/largeur */
}

.equipment-label {
    color: white;
    margin-top: 10px;
}

/* Styles spécifiques pour chaque image */
.img1 {
    transform: rotate(30deg) translateX(-100px) translateY(70px) rotate(-30deg);
}
.img2 {
    transform: rotate(-130deg) translateX(250px) translateY(-30px) rotate(130deg);
}
.img3 {
    transform: rotate(-110deg) translateX(250px) translateY(20px) rotate(110deg);
}
.img4 {
    transform: rotate(-80deg) translateX(250px) translateY(30px) rotate(80deg);
}
.img5 {
    transform: rotate(-60deg) translateX(200px) translateY(30px) rotate(60deg);
}
.img6 {
    transform: rotate(-10deg) translateX(140px) translateY(60px) rotate(10deg);
}

/* Media queries pour la responsivité */
@media (max-width: 1200px) {
    .center-bottom {
        height: 500px;
    }
    .center-bottom img {
        max-width: 500px;
    }
}

@media (max-width: 992px) {
    .center-bottom {
        height: 400px;
    }
    .center-bottom img {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .center-bottom {
        height: 300px;
    }
    .center-bottom img {
        max-width: 300px;
    }
    .equipment-container {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .center-bottom {
        height: 250px;
    }
    .center-bottom img {
        max-width: 250px;
    }
    .equipment-item img {
        max-width: 150px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .center-bottom {
        height: 200px;
    }
    .center-bottom img {
        max-width: 200px;
    }
    .equipment-item img {
        max-width: 100px;
        height: auto;
    }
}
