.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-container {
    width: 45%;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .chart-container {
        width: 90%;
    }
}
